@model Voicecord.Models.UserGroup
@{
    ViewData["Title"] = "GetGroup";
}




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkImageGroup)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.LinkImageGroup)
            </td>

                @foreach (var voice in @Model.Voices)
                {   
                    <h4>Voice-@voice.Id</h4>
                    <div class="voice-@voice.Id">
                        <p>Пользователи в войс чате: </p>
                        <ul class="people-voice-@voice.Id">

                        </ul>
                        <span>
                            <h3 hidden id="user-name-@voice.Id">@User.Identity.Name</h3>
                            <video id="webcamVideo-@voice.Id" autoplay playsinline width="750" height="340" hidden></video>
                        </span>
                    </div>
                    <button id="callButton-@voice.Id" onclick="initialize_voice_chat(@voice.Id)">Вступить в звонок</button>
                    <button id="hangupButton-@voice.Id" hidden onClick="disconnect_button(@voice.Id);">Отключиться</button> 
                    if (voice.Users == null)
                    {
                        continue;
                    }
                    foreach (var userInVoiceChat in voice.Users)
                    {
                    <li>@userInVoiceChat</li>
                    }
                }

            <div class="wrapper">
                <div class="tabs">
                    <div class="tabs__nav tabs-nav">
                        <div class="tabs-nav__item is-active" data-tab-name="tab-0">@Model.Chats[0].Name</div>
                        @for (var i = 1; i < Model.Chats.Count; i++)
                        {
                            <div class="tabs-nav__item" data-tab-name="tab-@i">@Model.Chats[i].Name</div>
                        }
                    </div>
                    <div class="tabs__content">
                        <div class="tab tab-0 is-active" data-tab-name="tab-0">
                            <p id="tab-0">@Model.Chats[0].Id</p>
                            <p id="chatId">@Model.Chats[0].Id</p>
                            @foreach (var message in Model.Chats[0].Messages)
                            {

                                <li>
                                    <p>@message.Owner.UserName @message.Date.ToShortTimeString()</p>
                                    <p>@message.TextMessage</p>
                                </li>
                            }
                            <ul id="discussion-0"></ul>
                        </div>
                        <p id="chats_count" hidden>@Model.Chats.Count</p>
                        @for (var i = 1; i < Model.Chats.Count; i++)
                        {

                            @* <p id="chatId-@i">@Model.Chats[0].Id </p> *@
                            <div class="tab tab-@i" data-tab-name="tab-@i">
                                <p id="tab-@i">@Model.Chats[i].Id</p>
                                @foreach (var message in Model.Chats[i].Messages)
                                {
                                    <li>@message.Owner.UserName @message.Date.ToString()
                                        <p>@message.TextMessage</p></li>
                                }
                                <ul id="discussion-@i"></ul>
                            </div>
                        }
                        <div class="mt-3">
                            <ul id="discussion"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <div class="container">
                    <p id="username">@User.Identity.Name</p>
                    <div class="mt-5">
                        <input type="text" id="message" />
                        <input type="button" id="SendMessage" value="Send" />

                    </div>
                </div>


            </div>



            <a asp-action="CreateTextChat" asp-route-id="@Model.Id">Create text chat</a>
            @* <div class="wrapper">
            <div class="tabs">
            <div class="tabs__nav tabs-nav">
            <div class="tabs-nav__item is-active" data-tab-name="tab-1">Таб 1</div>
            <div class="tabs-nav__item" data-tab-name="tab-2">Таб 2</div>
            <div class="tabs-nav__item" data-tab-name="tab-3">Таб 3</div>
            </div>
            <div class="tabs__content">
            <div class="tab is-active tab-1"> Содержание таба 1</div>
            <div class="tab tab-2">Содержание таба 2</div>
            <div class="tab tab-3">Содержание таба 3</div>
            </div>
            </div>
            </div> *@
            <li>

                @*
                @if (Model.Chats != null)
                {
                @foreach (var chat in @Model.Chats)
                {

                @foreach (var message in chat.Messages)
                {
                <li>
                <p>@message.Owner.UserName @message.Date.ToString()</p>
                <p>@message.TextMessage</p>
                </li>
                }
                <div class="text-center">
                <div class="container">
                <p id="username">@User.Identity.Name</p>
                <div class="mt-5">
                <input type="text" id="message" />
                <input type="button" id="SendMessage" value="Send" />
                </div>
                </div>
                <div class="mt-3">
                <ul id="discussion"></ul>

                </div>


                </div>
                }
                } *@
            </li>
            <p>Users</p>

            @foreach (var user in Model.Users)
            {
                <li>@user.UserName</li>
            }
            <script src="~/js/tabs.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
            <script src="~/js/site.js"></script>
            <p id="linkGroup">@Model.LinkImageGroup</p>
        </tr>
    </tbody>
</table>
