@model Voicecord.Models.UserGroup
@{
    ViewData["Title"] = "GetGroup";
}

<br>
<p class="h2" id="linkGroup" hidden>@Model.LinkImageGroup</p>
<p class="h2" id="linkGroup" >@Model.Name</p>
<p>Пользователи в этом канале:</p>

<ul class="list-group">
@foreach (var user in Model.Users)
{
        <li class="list-group-item">@user.UserName</li>
}
</ul>
<br>
<h3 class="text-center">Текстовые чаты</h3>
<a asp-action="CreateTextChat" asp-route-id="@Model.Id" class="btn btn-outline-secondary">Создать текстовой чат</a>
            <div class="wrapper">
                <div class="tabs">
                    <div class="tabs__nav tabs-nav">
                        <div class="tabs-nav__item is-active" data-tab-name="tab-0">@Model.Chats[0].Name</div>
                        @for (var i = 1; i < Model.Chats.Count; i++)
                        {
                            <div class="tabs-nav__item" data-tab-name="tab-@i">@Model.Chats[i].Name</div>
                        }
                    </div>
                    <div class="tabs__content">
                        <div class="tab tab-0 is-active" data-tab-name="tab-0">
                            <p hidden id="tab-0">@Model.Chats[0].Id</p>
                            <p hidden id="chatId">@Model.Chats[0].Id</p>
                            <ul id="discussion-0">
                            @foreach (var message in Model.Chats[0].Messages)
                            {

                                <li>
                                    <p>@message.Owner.UserName @message.Date.ToShortTimeString()</p>
                                    <p>@message.TextMessage</p>
                                </li>
                            }
                            </ul>
                            
                        </div>
                        <p id="chats_count" hidden>@Model.Chats.Count</p>
                        @for (var i = 1; i < Model.Chats.Count; i++)
                        {

                            @* <p hidden id="chatId-@i">@Model.Chats[0].Id </p> *@
                            <div class="tab tab-@i" data-tab-name="tab-@i">
                                <p hidden id="tab-@i">@Model.Chats[i].Id</p>
                             <ul id="discussion-@i">
                                @foreach (var message in Model.Chats[i].Messages)
                                {
                                    <li>
                            <p>@message.Owner.UserName @message.Date.ToShortTimeString()</p>
                                     <p>@message.TextMessage</p>
                            </li>
                                }

                                </ul>
                            </div>
                        }
                        <div class="mt-3">
                            <ul id="discussion"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <div class="container">
                    <div class="mt-5">
            <input class="form-control" type ="text" id="message" />
            <br>
                        <input class="btn btn-primary "type="button" id="SendMessage" value="Отправить сообщение" />

                    </div>
                </div>


            </div>

<br>
<h3 class="text-center">Голосовые чаты</h3>
    <a asp-action="CreateVoiceChat" asp-route-id="@Model.Id" class="btn btn-outline-secondary">Создать голосовой чат</a>
<div class="col-xs-1 text-center">
    @foreach (var voice in @Model.Voices)
    {
        <h5>@voice.Name</h5>
        <div class="voice-@voice.Id">
            <ul class="people-voice-@voice.Id list-group">
            </ul>
            <span>
                <h3 hidden id="user-name-@voice.Id">@User.Identity.Name</h3>
                <video id="webcamVideo-@voice.Id" autoplay playsinline width="750" height="340" hidden></video>
            </span>
        </div>
        <button class="btn btn-success" id="callButton-@voice.Id" onclick="initialize_voice_chat(@voice.Id)">Вступить в звонок</button>
        <br>
        <button class="btn btn-danger" id="hangupButton-@voice.Id" hidden onClick="disconnect_button(@voice.Id);">Отключиться</button>
        if (voice.Users == null)
        {
            continue;
        }
        foreach (var userInVoiceChat in voice.Users)
        {
            <li>@userInVoiceChat</li>
        }
    }

                <script src="~/js/tabs.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
                <script src="~/js/site.js"></script>
 </div>


            