@model Voicecord.Models.UserGroup

@{
    ViewData["Title"] = "GetGroup";
}

<h1>GetGroup</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkImageGroup)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.LinkImageGroup)
            </td>
            <li>
                @foreach (var voice in @Model.Voices)
                {
                    <p>voicechat</p>
                }
            </li>
            <li>
                @foreach (var voice in @Model.Chats)
                {
                    <p>chat</p>
                }
            </li>
            <p>Users</p>
          
                @foreach(var user in Model.Users)
                    {<li>@user.UserName</li>}
                
 
            <td>
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@Model.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            </td>



        </tr>
    </tbody>
</table>
